footer.footer {
    background-color: #2E8B57;
    height: 30vh;
    display: grid;
    place-items: center;
    margin: 50px 0 0 0;
    text-align: center;
}

div.footer-subtitulo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


ul.footer-social-media-lista {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

ul.footer-social-media-lista li a i {
    color: #fff;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

div.footer-subtitulo h3 {
    font-weight: 700;
}
footer p, h3 {
    color: #fff;
}


@media (min-width: 768px) {
    ul.footer-social-media-lista li a i {
        font-size: 2rem;
    }

    ul.footer-social-media-lista li a i:hover {
        color: #FD7D00;
    }
}
